.team {
	background-color: var(--black-100);
}

.team-item {
	margin: 15px;
	padding: 30px;
	border-radius: 10px;
	box-shadow: var(--shadow-black-100);
}

.team-item h3 {
	font-size: 18px;
	color: var(--team-text);
	font-weight: 600;
	margin: 15px 0 5px;
	text-transform: capitalize;
}

.team-item img {
	width: 450px;
	height: 300px;
}

.team-item span {
	display: block;
	font-weight: 300;
	color: var(--black-400);
	text-transform: capitalize;
}
